<img src="../assets/foshofosho.JPG" routerLink="../market" class="rounded mx-auto d-block" alt="Logo" width="300" height="300">
<!-- Footer -->
<footer class="page-footer font-small bg-secondary fixed-bottom">

    <!-- Copyright -->
    <div class="row">
        <div class="col-lg-4 col-md-10 mb-3 mb-md-0">
            <h5 class="footer-copyright py-3">©2022 Copyright:
                <a href="https://github.com/moolot/HandlesHandled"> GitHub</a>
            </h5>
        </div>
        <div class="col-lg-4 col-md-10 mb-3 mb-md-0">
            <h5 class="footer-copyright py-3">Get to Know Us
                <a routerLink="../about-us"> here </a>
            </h5>
        </div>
        <div class="col-lg-4 col-md-10 mb-3 mb-md-0">
            <h5 class="footer-copyright py-3">Terms & Conditions
                <a routerLink="../tos"> here</a>
            </h5>
        </div>
    </div>

</footer>