<img src="../assets/foshofosho.JPG" routerLink="../market" class="rounded mx-auto d-block" alt="Logo" width="300" height="300">

<div class="container">
<img src="../assets/TOS1.JPG" alt="TOS 1" class="rounded mx-auto d-block">
<img src="../assets/TOS2.JPG" alt="TOS 2" class="rounded mx-auto d-block">
<img src="../assets/TOS3.JPG" alt="TOS 3" class="rounded mx-auto d-block">
<img src="../assets/TOS4.JPG" alt="TOS 4" class="rounded mx-auto d-block">
<img src="../assets/tos5.JPG" alt="TOS 5" class="rounded mx-auto d-block">
</div>

<!-- Footer -->
<footer class="page-footer font-small bg-secondary fixed-bottom">

    <!-- Copyright -->
    <div class="d-flex justify-content-center">
        <div class="col-lg-4 col-md-10 mb-3 mb-md-0">
            <h5 class="footer-copyright py-3">©2022 Copyright:
                <a href="https://github.com/moolot/HandlesHandled"> GitHub</a>
            </h5>
        </div>
        <div class="col-lg-4 col-md-10 mb-3 mb-md-0">
            <h5 class="footer-copyright py-3">Get to Know Us
                <a routerLink="../about-us"> here </a>
            </h5>
        </div>
        <div class="col-lg-4 col-md-10 mb-3 mb-md-0">
            <h5 class="footer-copyright py-3">Terms & Conditions
                <a routerLink="../tos"> here</a>
            </h5>
        </div>
        <div class="col-lg-4 col-md-10 mb-3 mb-md-0">
          <h5 class="footer-copyright py-3">Login
              <a routerLink="../market"> here</a>
          </h5>
      </div>
    </div>
  
  </footer>
